@font-face {
    font-family:'oswald-R';
    src: url('Oswald-Regular.ttf');
}
@font-face {
    font-family:'oswald-B';
    src: url('Oswald-Bold.ttf');
}
@font-face {
    font-family:'oswald-L';
    src: url('Oswald-Light.ttf');
}

#nav-2-home{
 height:50px;
 background-color: #17476A;
 position: fixed;
 width:100vw;
 z-index:1;
 display: none;
 border-bottom:#FF5119 1px solid;
}

#nav-2-menu{
 float: right;
 clear: right;
 font-size:80%;
}

#nav-2-menu ul li a{
 color:white;
}

#logo-2-home{
 text-align:center;
}

#logo-2-home img{
 width:40%;
 height:auto;
}

#img-home{
 width:100vw;
 margin: 0;
 padding: 0;
 height: 100vh;
 background:url(/static/img/home/01_accueil.png) center no-repeat;
 background-size: cover;
}

#img-home div.row{
margin-left: 0;
margin-right:0;
}

#img-home div.row div.col-xs-5, #img-home div.row div.col-xs-2 {
padding-left:0;
padding-right:0;
}

.logo-home-line{
 height:2px;
 margin-top: 50px;
 background-color:#FF5119;
}

#logo-home{
 text-align:center;
}

#logo-home img{
 width:80%;
 height:auto;
}

#home-nav{
 float: right;
 clear: right;
 font-size:80%;
 color: white;
}

#home-nav ul li a{
 color:white;
}

#home-des{
text-align:center;
margin-top: 20vh;
}

#home-des h1{
color: white;
font-family: 'oswald-R';
}

#home-des h2{
background-color:rgba(255, 255, 255, 0.5);
font-family: 'oswald-L'
}

#img-home2{
 width:100vw;
 margin: 0;
 padding: 0;
 height: 100vh;
 background:url(/static/img/home/02_presentation.png) center no-repeat;
 background-size: cover;
}

#home2-item1{
margin-top: 12vh;
color:white;
text-align:center;
font-family: 'oswald-L';
}


#home2-item1 img{
 width:auto;
 height:106px;
}


#home2-item2{
margin-top: 12vh;
color:white;
text-align:center;
font-family: 'oswald-L';
}

#home2-item2 img{
 width:auto;
 height:106px;
}

#img-home3{
 width:100vw;
 margin: 0;
 padding: 0;
 height: 100vh;
 background:url(/static/img/home/03_CBD.png) center no-repeat;
 background-size: cover;
 background-color:#17476A;
}

#home3-des{
text-align:center;
color:white;
margin-top: 10vh;
font-family:'oswald-L';
}

#home3-des div{
display:inline-block;
font-size:20px;
}


#home3-item{
margin-top: 8vh;
color:white;
text-align:center;
font-family: 'oswald-L';
}

#home3-item img{
 width:25%;
 height:auto;
 border-radius:10px;
 border-width: 2px;
 border-style: solid;
}

#home3-item1 img{
 border-color: #3498DB;
}

#home3-item2 img{
 border-color: #00B286;
}

#home3-item3 img{
 border-color: #F1C40F;
}


#img-home4{
 width:100vw;
 margin: 0;
 padding: 0;
 height: 100vh;
 background:url(/static/img/home/04_vision.png) center no-repeat;
 background-size: cover;
}

#home4-des{
text-align:center;
color:white;
margin-top: 10vh;
font-family:'oswald-R';
}

#home4-guillemets img{
 width:auto;
 height:25vh;
 margin-top:-5vh;
}

#home4-des2{
text-align:center;
color:white;
margin-top: 5vh;
font-family:'oswald-L';
}

#img-home5{
 width:100vw;
 margin: 0;
 padding: 0;
 height: 100vh;
 background:url(/static/img/home/05_equipe.png) center no-repeat;
 background-size: cover;
 background-color:#17476A;
}

#home5-des{
text-align:center;
color:white;
margin-top: 5vh;
}

#home5-des h3{
font-family:'oswald-L'
}

#home5-item{
 margin-top:10vh;
}

.trombi-photo i{
 border-radius:50%;
 width:auto;
 height:106px;
}

.trombi-photo img:hover{
 border:solid 2px;
 border-color:#FF5119;
}

.trombi-photo h3{
 text-align:center;
 background-color:rgba(255, 255, 255, 0.5);
 color:white;
 margin-top: 3vh;
 border-radius: 25%;
}

.trombi-detail{
 visibility:hidden;
}

.trombi-photo:hover + .trombi-detail{
 visibility:visible;
}

.trombi-detail h4{
 text-align:center;
 background-color:rgba(255, 255, 255, 0.5);
 color:white;
}

.trombi-detail p{
 text-align:center;
 background-color:rgba(255, 255, 255, 0.5);
 color:white;
}

#img-home6{
 width:100vw;
 margin: 0;
 padding: 1px;
 height: 100vh;
 background:url(/static/img/home/06_localisation.png) center no-repeat;
 background-size: cover;
 background-color:#17476A;
}

#img-home6 h1{
 text-align:center;
 color: white;
 margin-top: 10vh;
}

#home6-des{
 margin-top:10vh;
}

#home6-des img{
 width:auto;
 height:70vh;
}

#home6-des h3{
 text-align:center;
 color: white;
 font-family:'oswald-L';
 margin-top: 20vh;
}

#img-home7 h1{
 text-align:center;
 color: white;
 margin-top: 5vh;
}

#img-home7{
 width:100vw;
 margin: 0;
 padding: 1px;
 height: 100vh;
 background:url(/static/img/home/07_questions.png) center no-repeat;
 background-size: cover;
 background-color:#17476A;
}