{% load staticfiles %}

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/histoire.css' %}" rel="stylesheet">
<link href="{% static 'css/chateau.css' %}" rel="stylesheet">
<link href="{% static 'css/boulot.css' %}" rel="stylesheet">
<link href="{% static 'css/repos.css' %}" rel="stylesheet">
<link href="{% static 'css/home.css' %}" rel="stylesheet">
<link href="{% static 'css/detente.css' %}" rel="stylesheet">
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

