{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="img-histoire" class="container">

    <div id="nav-2-histoire" class="row">

            <div class="col-xs-5"></div>

            <div id="logo-2-histoire" class="col-xs-2">
                <a href="{% url 'home' %}"><img src="{% static 'img/Logo_blanc.png' %}"></a>
            </div>

            <div class="col-xs-5">
                <nav id="nav-2-menu" class="nav navbar-nav">
                     <ul class="nav navbar-nav">
                            <li><a href="{% url 'chateau' %}">CHATEAU</a></li>
                            <li><a href="{% url 'boulot' %}">BOULOT</a></li>
                            <li><a href="{% url 'repos' %}">REPOS</a></li>
                            <li><a href="{% url 'histoire' %}">Histoire</a></li>
                            <li><a href="{% url 'detente' %}">Detente</a></li>
                     </ul>
                </nav>
            </div>
    </div>

    <center><div id="histoire-des">
        <h1>IL ETAIT UNE FOIS</h1>
        <h3>4 personnages qui forgèrent l'histoire du Château de Vaugoubert,
            inscrit à l'inventaire des Monuments Historiques depuis 1948.
        </h3>
    </div></center>

    <div id="histoire-item" class="row">
        <div class="col-xs-3">
            <h4 id="rien">rien</h4>
            <h2>GAUZBERT</h2>
            <center><div class="histoire-item-line"></div></center>
            <h3>C'est lui qui donne son nom au domaine (vallis Gauzberti):
            pour se protéger des bandes pillardes, ce chef franc établit un
            <b>refuge collectif</b> sur la falaise naturelle, difficile
                à aborder de trois côtés et défendable sur le quatrième par
                par un fossé profond.
            </h3>
        </div>
        <div class="col-xs-3">
            <h4>ETIENNE</h4>
            <h2>POURTENC</h2>
            <center><div class="histoire-item-line"></div></center>
            <h3>C’est à lui qu’Henri IV vendit Vaugoubert vers 1590.
                Pourtant, Étienne Pourtenc n’est pas issu de la noblesse…
                son père et son grand père avaient « tenu boutique » !
                Aujourd’hui, quelques restes de l’<b>antique manoir</b> des Pourtenc subsistent encore.
            </h3>
        </div>
        <div class="col-xs-3">
            <h4>ANTOINE-ARMAND-ANGÉLIQUE</h4>
            <h2>D’AYDIE</h2>
            <center><div class="histoire-item-line"></div></center>
            <h3>Après avoir participé à la conjuration de Cellamare en 1718 –
                qui visait à renverser Philippe d’Orléans, régent du Royaume –
                il s’exila en Espagne d’où il revint accompagné de deux mulets chargés d’or.
                Or qui finança la <b>reconstruction de l’actuel château</b>.</h3>
        </div>
        <div class="col-xs-3">
            <h4>Vicomte FERNAND</h4>
            <h2>DE COSNAC</h2>
            <center><div class="histoire-item-line"></div></center>
            <h3>Plus d’un siècle après sa reconstruction, il rehausse
                et double le château. C’est également lui qui fait construire
                l’écurie, les chais et l’orangerie.
                Se développe une véritable activité économique autour du château
                devenu <b>maison d’agrément à la française</b>.
            </h3>
        </div>
    </div>

</div>

<div id="img-histoire2">

<div class="container">
    <center><h3 id="histoire2-des1">
    D’une forteresse au départ, Vaugoubert se transforme,
        grâce aux longues périodes de prospérité, en maison d’agrément.
        Il faut dire que le domaine est exemplaire en matière
        d’utilisation intelligente des ressources naturelles.
    </h3></center>

    <div id="histoire2-item" class="row">
    <div class="col-xs-3">
        <img src="{% static 'img/histoire/02_eau.png' %}">
        <h3>EAU</h3>
        <center><div class="histoire-item-line"></div></center>
        <h4>Un important réseau de marre permet d'utiliser efficacement l'eau
            necessaire à lélevage sur le plateau. En plaine, un système
            d'irrigation sophistiqué favorise le développement de l'agriculture mais également
            d'une papetterie.</h4>
    </div>
    <div class="col-xs-3">
        <img src="{% static 'img/histoire/02_soleil.png' %}">
        <h3>SOLEIL</h3>
        <center><div class="histoire-item-line"></div></center>
        <h4>Le mur du potager, dont la fonction est de restituer
            pendant la nuit la chaleur emmagasinée durant le jour,
            témoigne d'une gestion efficace de cette ressource, tout
            comme l'orangerie attenante.</h4>
    </div>
    <div class="col-xs-3">
        <img src="{% static 'img/histoire/02_calcaire.png' %}">
        <h3>CALCAIRE</h3>
        <center><div class="histoire-item-line"></div></center>
        <h4>Les nombreuses carrières présentes sur le domaine, ainsi que
            le four à chaux creusé à même la roche, nous laissent imaginer
            le chantier titanesque de l'époque pour extraire les matériaux
            necessaires à l'édification du chateau.
        </h4>
    </div>
    <div class="col-xs-3">
        <img src="{% static 'img/histoire/02_bois.png' %}">
        <h3>BOIS</h3>
        <center><div class="histoire-item-line"></div></center>
        <h4>Situé au coeur d'un massif forestier, le bois occupe un rôle
        central à toutes les époques, comme matériau de construction d'une part
         - comme en témoigne l'ancienne menuiserie -, comme principale ressource
         calorifère d'autre part.</h4>
    </div>
    </div>
    <center><h3 id="histoire2-des2">
    Entre le XVIIe et le début du XXe siècles, la campagne périgourdine
    se dote d’une véritable industrie rurale dont le moulin est
    l’emblème, et Vaugoubert met à profit ses nombreuses ressources
    pour prendre part au mouvement...
    </h3></center>
</div>

</div>

<div id="img-histoire3">
    <div class="container">
    <center><h2 id="histoire3-des">
    Aujourd’hui, nous nous inspirons des bonnes pratiques de l’époque
    et poussons la logique plus loin en intégrant les principes de l’économie circulaire
    dans le fonctionnement et la rénovation du lieu.
    Nous voulons « restaurer le passé pour relever les défis d’aujourd’hui » !
    </h2></center>
    </div>
</div>

{% endblock %}