{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div id="nav-2-home">
    <div class="row">

            <div class="col-xs-5"></div>

            <div id="logo-2-home" class="col-xs-2">
                <img src="{% static 'img/Logo_blanc.png' %}">
            </div>

            <div class="col-xs-5">
                <nav id="nav-2-menu" class="nav navbar-nav">
                     <ul class="nav navbar-nav">
                            <li><a href="{% url 'chateau' %}">CHATEAU</a></li>
                            <li><a href="{% url 'boulot' %}">BOULOT</a></li>
                            <li><a href="{% url 'repos' %}">REPOS</a></li>
                            <li><a href="{% url 'histoire' %}">Histoire</a></li>
                            <li><a href="{% url 'detente' %}">Detente</a></li>
                     </ul>
                </nav>
            </div>
    </div>
</div>

<div id="img-home">

    <div class="row">

        <div id="left-home" class="col-xs-5">
            <div class="logo-home-line"></div>
        </div>

        <div id="logo-home" class="col-xs-2">
            <img src="{% static 'img/home/Logo_blanc.png' %}">
        </div>

        <div id="right-home" class="col-xs-5">
            <nav id="home-nav" class="nav navbar-nav">
                 <ul class="nav navbar-nav">
                        <li><a href="{% url 'chateau' %}">CHATEAU</a></li>
                        <li><a href="{% url 'boulot' %}">BOULOT</a></li>
                        <li><a href="{% url 'repos' %}">REPOS</a></li>
                        <li><a href="{% url 'histoire' %}">Histoire</a></li>
                        <li><a href="{% url 'detente' %}">Detente</a></li>
                 </ul>
            </nav>
            <div class="logo-home-line"></div>
        </div>

    </div>

    <div id="home-des">
        <h1>RESTAURER LE PASSE<br>POUR RELEVER LES<br>DEFIS D'AUJOURD'HUI</h1>
    </div>

</div>

<div id="img-home2">

    <div class="container">

        <div id="home2-item1" class="row">

            <div class="col-xs-4">
                <img src="{% static 'img/home/02_chateau.png' %}">
                <h3>Un château XVIIIe pour<br><b>les grandes occasions.</b></h3>
            </div>

            <div class="col-xs-4">
                <img src="{% static 'img/home/02_experimentation.png' %}">
                <h3>600m2 de granges et écuries <br>réaménagées pour <b>l'expérimentation.</b></h3>
            </div>

            <div class="col-xs-4">
                <img src="{% static 'img/home/02_dodo.png' %}">
                <h3>200m2 de ferme transformée<br>en gite pour la <b>découverte</b>.</h3>
            </div>

        </div>

        <div id="home2-item2" class="row">

            <div class="col-xs-4">
                <img src="{% static 'img/home/02_foret.png' %}">
                <h3>190 hectares de forêt<br>pour <b>l'inspiration</b>.</h3>
            </div>

            <div class="col-xs-4">
                <img src="{% static 'img/home/02_riviere.png' %}">
                <h3>Une rivière pour <b>les pauses<br>rafraichissantes</b>.</h3>
            </div>

            <div class="col-xs-4">
                <img src="{% static 'img/home/02_potager.png' %}">
                <h3>Un potager en permaculture pour<br>le <b>réconfort</b> après l'effort.</h3>
            </div>

        </div>

    </div>

</div>


<div id="img-home3">

    <div class="container">

        <div id="home3-des" class="container">

        <h2>Sur les terres du Périgord Vert, il existe un lieu qui lie</h2>
            <div>
                <ul>
                    <li><h3>transmission du savoir-faire artisanal,</h3></li>
                    <li><h3>soin de l'environnement,</h3></li>
                    <li><h3>engagement dans la modernité,</h3></li>
                </ul>
            </div>
        <h1>Bienvenue à Vaugoubert! Faites vos jeux...</h1>

        </div>


        <div id="home3-item"class="row">

            <div id="home3-item1" class="col-xs-4">
                <img src="{% static 'img/chateau/Logo_chateau_blanc.png' %}">
                <h2><b>Organisez vos évènements</b></h2>
            </div>

            <div id="home3-item2" class="col-xs-4">
                <img src="{% static 'img/boulot/Logo_boulot_blanc.png' %}">
                <h2><b>Donnez de l'air à vos projets</b></h2>
            </div>

            <div id="home3-item3" class="col-xs-4">
                <img src="{% static 'img/repos/Logo_repos_blanc.png' %}">
                <h2><b>(Re)découvrez les charmes de la région</b></h2>
            </div>

        </div>
    </div>
</div>

<div id="img-home4">

    <div class="container">
        <div id="home4-des"><h1>CONVICTION</h1></div>
        <div class="row">
            <div class="col-xs-1"></div>
            <div id="home4-guillemets" class="col-xs-2"><img src="{% static 'img/home/04_guillemets.png' %}"></div>
            <div id="home4-des2" class="col-xs-6">
                <h2>Nous croyons en la <b>mobilité</b> et la <b>modernité</b>.<br><br>
                    Nous croyons en la capacité de chacun, à son échelle, à <b>innover</b>
                    pour proposer des réponses aux <b>défis contemporains</b>.<br><br>
                    Nous croyons aux vertus de la <b>coopération</b> et de
                    <b>l'interdisciplinarité</b>.<br><br>
                    Nous faisons le pari d'un lieu où lancer un projet n'est plus une
                    aventure solitaire en terre hostile.
                </h2>
            </div>
            <div class="col-xs-3"></div>
        </div>
    </div>

</div>

<div id="img-home5">
    <div class="container">
    <div id="home5-des">
        <h1>LA FINE EQUIPE</h1>

        <h3>Passionnés et un peu fous, nous mettons notre savoir-faire personnel<br>
        au service de ce grand <b>projet collectif</b>.<br>
        Nous cherchons actuellement à agrandir les rangs... à bon entendeur!</h3>
    </div>
    <div id="home5-item" class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-2">
            <div class="trombi-photo">
                <!-- <center><img src="{% static 'img/home/couture.jpg' %}"></center> -->
                <h3>FANNY</h3>
            </div>
            <div class="trombi-detail">
                <h4>Couture</h4>
                <p>Son instinct créatif l'a conduit à créer
                une entreprise de cadeaux de naissance personnalisés et décoration de chambres
                d'enfant. D'où sa lourde tâche d'aménager Vaugoubert.</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="trombi-photo">
                <!-- <i class="fa fa-hourglass-end" aria-hidden="true"></i> -->
                <h3>RICHARD</h3>
            </div>
            <div class="trombi-detail">
                <h4>Gestion</h4>
                <p>Originaire du Périgord Vert, il a eu le coup de foudre
                    pour Vaugoubert. C'est lui, avec l'aide précieuse de Fanny,
                    qui a donné l'impulsion à ce projet de restauration innovante.
                </p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="trombi-photo">
                <h3>VICTOR</h3>
            </div>
            <div class="trombi-detail">
                <h4>Maçonnerie</h4>
                <p>Formé chez les compagnons, après plusieurs années
                sur le terrain, il crée une entreprise spécialisée
                dans la restauration du patrimoine. C'est lui qui supervise
                tous les travaux au château.</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="trombi-photo">
                <h3>MICHEL</h3>
            </div>
            <div class="trombi-detail">
                <h4>Menuiserie</h4>
                <p>Il a grandi au milieu des arbres du Périgord Vert, et
                il en a fait son métier! Michel est menuisier, il a installé
                son atelier dans les anciennes écuries du château.</p>
            </div>
        </div>
        <div class="col-xs-2">
            <div class="trombi-photo">
                <h3>GEOFFREY</h3>
            </div>
            <div class="trombi-detail">
                <h4>Chasse</h4>
                <p>Passionné depuis toujours de chasse, Geoffrey gère
                les richesses de la forêt de façon durable afin qu'elle
                retrouve toute sa place dans l'organisation du domaine.</p>
            </div>
        </div>
        <div class="col-xs-1"></div>
    </div>
    </div>
</div>

<div id="img-home6">
    <div class="container">
        <h1>45°25'28'.9"N 0°41'41'.3"E</h1>
        <div id="home6-des" class="row">
            <div class="col-xs-6">
                <center><img src="{% static 'img/home/06_carte_AVEC_texte.png' %}"></center>
            </div>
            <div class="col-xs-6">
                <h3>Vaugoubert n'est pas la porte à côté, mais quelle belle porte...!
                Si vous privilégiez le train (gares <b>Angoulême</b> ou <b>Périgueux</b>),
                on s'occupe de vous trouvez le moyen de terminer le trajet (45 minutes
                    en voiture depuis Angoulême, 30 minutes depuis Périgueux).
                    Surtout que la ligne TGV Paris-Angoulême
                    se refait une beauté et mettra 1h40 en 2017!
                    Sinon marchez, courez ou roulez à plein s'il-vous-plaît :-)
                </h3>
            </div>
        </div>
    </div>
</div>

<div id="img-home7">
    <h1>ET MAINTENANT?</h1>
</div>


{% endblock %}