{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<nav id="home_page2_nav" class="nav navbar-nav navbar-default navbar-fixed-top">

    <img id="home_page2_logo" src="{% static 'img/Logo_blanc.png' %}">

    <ul class="nav navbar-nav">
        <li><a href="{% url 'chateau' %}">CHATEAU</a></li>
        <li><a href="{% url 'boulot' %}">BOULOT</a></li>
        <li><a href="{% url 'repos' %}">REPOS</a></li>
    </ul>

    <div id="home_page2_nav_line" class="line"></div>
</nav>

<div id="home_page2_1" class="container">

    <img id="home_page2_img1" src="{% static 'img/home_page2/home_page2_img1.png' %}">

    <div id="home_page2_chateau" class="container">
        <img src="{% static 'img/home_page2/chateau.png' %}">
        <p>Un chateau XVIIIeme pour les grandes occasions</p>
    </div>

    <div id="home_page2_experimentation" class="container">
        <img  src="{% static 'img/home_page2/experimentation.png' %}">
        <p>500m2 de granges et ecuries réaménagées pour l'expérimentation</p>
    </div>

    <div id="home_page2_repos" class="container">
        <img src="{% static 'img/home_page2/repos.png' %}">
        <p>200m2 de ferme transformée en gite pour la découverte</p>
    </div>

    <div id="home_page2_foret" class="container">
        <img  src="{% static 'img/home_page2/foret.png' %}">
        <p>190 hectares de foret pour l'inspiration</p>
    </div>

    <div id="home_page2_riviere" class="container">
        <img  src="{% static 'img/home_page2/riviere.png' %}">
        <p>1 riviere pour les pauses rafraichissantes</p>
    </div>

    <div id="home_page2_potager" class="container">
        <img  src="{% static 'img/home_page2/potager.png' %}">
        <p>1 potager en permaculture pour le reconfort apres l'effort</p>
    </div>

</div>

<div id="home_page2_2" class="container">

    <img id="home_page2_2_img" src="{% static 'img/home_page2/home_page2_2_img.png' %}">

    <div id="home_page2_2_text" class="container">

    <p>Sur les terres du Périgord Vert, il existe un lieu qui lie</p>
        <ul>
        <li>transmission du savoir faire,</li>
        <li>soin de l'environnement,</li>
        <li>engagement dans la modernité,</li>
        </ul>
    <p>Bienvenue à Vaugoubert! Faites vos jeux...</p>

    </div>


    <div id="home_page2_2_chateau" class="container">
        <img  src="{% static 'img/home_page2/Logo_chateau_blanc.png' %}">
        <br>
        <p>Organisez vos événements</p>
    </div>


    <div id="home_page2_2_boulot" class="container">
        <img  src="{% static 'img/home_page2/Logo_boulot_blanc.png' %}">
        <br>
        <p>Donnez de l'air à vos projets</p>
    </div>


    <div id="home_page2_2_repos" class="container">
        <img  src="{% static 'img/home_page2/Logo_dodo_blanc.png' %}">
        <br>
        <p>(Re)découvrez les charmes de la région</p>
    </div>


</div>

<div id="home_page2_3" class="container">

    <img id="home_page2_3_img" src="{% static 'img/home_page2/04_vision.png' %}">
    <img id="home_page2_3_guillemets" src="{% static 'img/home_page2/04_guillemets.png' %}">
    <h1>PROJET</h1>

    <div id="home_page2_3_text" class="container">
            <p>Nous croyons en la mobilité et la modernité.</p>
            <br>
            <p>Nous croyons en la capacité de chacun, à son échelle, à innover</p>
            <p>pour proposer des réponses aux défis contemporains.</p>
            <br>
            <p>Nous croyons aux vertus de la coopération et de</p>
            <p>l'interdisciplinarité.</p>
            <br>
            <p>Nous faisons le pari d'un lieu où lancer son projet n'est plus une</p>
            <p>aventure solitaire en terre hostile.</p>
    </div>

</div>

<div id="home_page2_4" class="container">

    <img id="home_page2_4_img" src="{% static 'img/home_page2/home_page2_4_img.png' %}">
    <div id="home_page2_4_text" class="container">
        <h1>LA FINE EQUIPE</h1>
        <br>
        <p>Passionnés et un peu fous, nous mettons notre savoir-faire personnel</p>
        <p>au service de ce grand projet collectif.</p>
        <br>
        <p>Nous cherchons actuellement à agrandir les rangs...à bon entendeur!</p>
    </div>

</div>

<div id="home_page2_5" class="container">

    <img id="home_page2_5_img" src="{% static 'img/home_page2/home_page2_5_img.png' %}">
    <div id="home_page2_5_text" class="container">
        <p>Vaugoubert n'est pas la porte à coté,</p>
        <p>mais quelle belle porte...!</p>
        <br>
        <p>Si vous privilégiez le train (gares</p>
        <p>Angouleme ou Perigueux), on s'occupe</p>
        <p>de vous à l'arrivée.</p>
        <br>
        <p>Surtout que la ligne TGV Paris-Angouleme</p>
        <p>se refait une beauté et mettra 1h40 en 2017!</p>
    </div>

    <img id="carte_avec" src="{% static 'img/home_page2/06_carte_AVEC_texte.png' %}">

</div>

<div id="home_page2_6" class="container">

    <img id="home_page2_6_img" src="{% static 'img/home_page2/home_page2_6_img.png' %}">
    <div id="home_page2_6_text" class="container">
        <h1>ET MAINTENANT</h1>
    </div>

</div>
{% endblock %}
